        <div class="uk-panel">
            <h3 class="uk-panel-title">S.P.E.C.I.A.L</h3>
            <ul class="uk-list uk-list-line">
                <li><b>Level</b>: {{playerModel?.level}}
                    <a class="uk-button" *ng-if="playerModel?.level > 0" (click)="onRankDecrease()">-</a>
                    <a class="uk-button" (click)="onRankIncrease()">+</a>
                </li>
                <li><b>Strength</b>: {{playerModel?.strength}}
                    <a class="uk-button" *ng-if="playerModel?.strength > 0" (click)="onDecrease('strength')">-</a>
                    <a class="uk-button" *ng-if="playerModel?.strength < 10" (click)="onIncrease('strength')">+</a>
                </li>
                <li><b>Perception</b>: {{playerModel?.perception}}
                    <a class="uk-button" *ng-if="playerModel?.perception > 0" (click)="onDecrease('perception')">-</a>
                    <a class="uk-button" *ng-if="playerModel?.perception < 10" (click)="onIncrease('perception')">+</a>
                </li>
                <li><b>Endurance</b>: {{playerModel?.endurance}}
                    <a class="uk-button" *ng-if="playerModel?.endurance > 0" (click)="onDecrease('endurance')">-</a>
                    <a class="uk-button" *ng-if="playerModel?.endurance < 10" (click)="onIncrease('endurance')">+</a>
                </li>
                <li><b>Charisma</b>: {{playerModel?.charisma}}
                    <a class="uk-button" *ng-if="playerModel?.charisma > 0" (click)="onDecrease('charisma')">-</a>
                    <a class="uk-button" *ng-if="playerModel?.charisma < 10" (click)="onIncrease('charisma')">+</a>
                </li>
                <li><b>Intelligence</b>: {{playerModel?.intelligence}}
                    <a class="uk-button" *ng-if="playerModel?.intelligence > 0" (click)="onDecrease('intelligence')">-</a>
                    <a class="uk-button" *ng-if="playerModel?.intelligence < 10" (click)="onIncrease('intelligence')">+</a>
                </li>
                <li><b>Agility</b>: {{playerModel?.agility}}
                    <a class="uk-button" *ng-if="playerModel?.agility > 0" (click)="onDecrease('agility')">-</a>
                    <a class="uk-button" *ng-if="playerModel?.agility < 10" (click)="onIncrease('agility')">+</a>
                </li>
                <li><b>Luck</b>: {{playerModel?.luck}}
                    <a class="uk-button" *ng-if="playerModel?.luck > 0" (click)="onDecrease('luck')">-</a>
                    <a class="uk-button" *ng-if="playerModel?.luck < 10" (click)="onIncrease('luck')">+</a>
                </li>
            </ul>
            <div class="uk-form" *ng-if="! playerModel?.userId">
                <blockquote class="tm-blockquote">Enter your email to keep your data, otherwise you will lost alll information after page refresh:</blockquote>
                <div><input class="uk-input" #inputword (keyup)="doneTyping($event)" /> <a class="uk-button"  (click)="setUserId(inputword)">set / load</a></div>
            </div>
<br/>
            <iframe src="https://ghbtns.com/github-btn.html?user=cajoy&repo=falloutlab.com&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </div>
